@font-face {
  font-family: Logo;
  src: url(../public/fonts/Bonche-Light.otf);
}

@font-face {
  font-family: Header;
  src: url(../public/fonts/XillianRegular.otf);
}

@font-face {
  font-family: Primary;
  src: url(../public/fonts/Geomatrix.ttf);
}

.windows-flags {
  font-family: "Twemoji Country Flags";
}

body {
  background-color: white;
}

