@font-face {
  font-family: Logo;
  src: url(../public/fonts/Bonche-Light.otf);
}

@font-face {
  font-family: Header;
  src: url(../public/fonts/XillianRegular.otf);
}

@font-face {
  font-family: Primary;
  src: url(../public/fonts/Geomatrix.ttf);
}

.windows-flags {
  font-family: "Twemoji Country Flags";
}

body {
  background-color: white;
}

/* Text field */

.text-field-container {
  display: flex;
  flex: 0;
  flex-direction: column;

}
.text-field-input {
  outline: none;
  font-size: 16px;
  border: 0; 
  padding: 7px 0; 
  border-bottom: 1px solid #ccc;
}

.text-field-input ~ .focus-border {
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
  margin-top: -2px;
}
.text-field-input:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}


/*
 * Below are Cascading Style Sheet (CSS) definitions in use in this file,
 * which allow easily changing how countries are displayed.
 *
 * The styles are applied in the order in which they are defined (and re-defined) here in the preamble.
 */

/*
 * Circles around small countries and territories
 *
 * Change opacity to 1 to display all circles
 */
 .circlexx
 {
   opacity: 0;
   fill: #c0c0c0;
   stroke: #000000;
   stroke-width: 0.5;
 }
 
 /*
  * Smaller circles around subnational territories: Australian external territories, Chinese SARs, Dutch special municipalities, and French DOMs (overseas regions/departments) [but not French COMs (overseas collectivities)]
  *
  * Change opacity to 1 to display all circles
  */
 .subxx
 {
   opacity: 0;
   fill: #c0c0c0;
   stroke: #000000;
   stroke-width: 0.3;
 }
 
 
 /*
  * Land
  * (all land, as opposed to water, should belong to this class; in order to modify the coastline for land pieces with no borders on them a special class "coastxx" has been added below)
  */
 .landxx
 {
   fill: #c0c0c0;
   stroke: #ffffff;
   stroke-width: 0.5;
   fill-rule: evenodd;
 }
 
 .landxx:hover {
  fill: #a9a9a9;
 }
 /*
  * Styles for coastlines of islands and continents with no borders on them
  * (all of them should also belong to the class "landxx" - to allow for all land to be modified at once by refining "landxx" style's definition further down)
  */
 .coastxx
 {
   stroke-width: 0.2;
 }
 
 
 /*
  * Styles for territories without permanent population (the largest of which is Antarctica)
  *
  * Change opacity to 0 to hide all territories
  */
 .antxx
 {
   opacity: 1;
   fill: #c0c0c0;
 }
 
 /*
  * Circles around small countries without permanent population
  *
  * Change opacity to 1 to display all circles
  */
 .noxx
 {
   opacity: 1;
   fill: #c0c0c0;
   stroke: #000000;
   stroke-width: 0.5;
 }
 
 
 /*
  * Styles for territories with limited or no recognition
  * (all of them - including Taiwan - are overlays (i.e. duplicate layers) over their "host" countries, and so not showing them doesn't leave any gaps on the map)
  *
  * Change opacity to 1 to display all territories
  */
 .limitxx
 {
   opacity: 0;
   fill: #c0c0c0;
   stroke: #ffffff;
   stroke-width: 0.2;
   fill-rule: evenodd;
 }
 
 /*
  * Smaller circles around small territories with limited or no recognition
  *
  * Change opacity to 1 to display all circles
  */
 .unxx
 {
   opacity: 0;
   fill: #c0c0c0;
   stroke: #000000;
   stroke-width: 0.3;
 }
