@font-face {
  font-family: 'Logo';
  font-weight: normal;
  src: url(../public/fonts/Bonche-Light.otf);
}

@font-face {
  font-family: Header;
  src: url(../public/fonts/XillianRegular.otf);
}

@font-face {
  font-family: Primary;
  src: url(../public/fonts/Geomatrix.ttf);
}

.windows-flags {
  font-family: "Twemoji Country Flags";
}

body {
  background-color: white;
}

/* Text field */

.text-field-container {
  display: flex;
  flex: 0;
  flex-direction: column;

}
.text-field-input {
  outline: none;
  font-size: 16px;
  border: 0; 
  padding: 7px 0; 
  border-bottom: 1px solid #ccc;
}

.text-field-input ~ .focus-border {
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
  margin-top: -2px;
}

.text-field-input:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}
